<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-search"></i> Query Tuna Record
        </h1>
       
        <form action="/tuna/querytuna" method="POST">
            
          <div class="form-group">
            <label for="catchId">Enter catch id:</label>
            <input
              type="text"
              id="catchId"
              name="catchId"
              class="form-control"
              placeholder="Ex: 3"
              value="<%= typeof catchId != 'undefined' ? catchId : '' %>"
            />
          </div>


          <input
          type="hidden"
          id="email"
          name="email"
          value= <%= email %>
        />        
          <button type="submit" class="btn btn-primary btn-block">
            Query
          </button>
        </form>
      
      </div>
    </div>
  </div>